.recommendSite-wrapper {
  margin: 30px auto;
}

@media all and (min-width: 450px) {
  .recommendSite-wrapper{
    width: 1200px;
  }
  .friendLink_img{
      li{
        float: left;
        margin-right: 65px;
      }
  }
}

@media all and (max-width: 450px){
  .recommendSite-wrapper{
    .friendLink_img li img {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}
.friendLink_title {
  border-bottom: 3px solid #004ea1;
  padding-left: 5px;
  color: #1c1c1c;
  font-size: 22px;
  line-height: 51px;
  a {
    background: none;
    color: #666;
    line-height: 60px;
    padding-right: 10px;
    height: 50px;
    float: right;
    font-size: 14px;
  }
  a:hover {
    color: #004ea1;
  }
}

.friendLink_img {
  padding-top: 20px;
  padding-bottom: 20px;
  li {
    img {
      display: block;
      width: 228px;
      height: 69px;
      border: 1px solid #004ea1;
      border-radius: 2px;
    }
  }
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
}

.recommendSite-li:hover{
  img{
    border: 2px solid #004ea1;
    box-shadow: 0 0 0 10px #fff;
  }
}
