.w-footer-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media all and (max-width: 450px) {
  #w-footer{
    display: none;
  }
  .w-footer-bottom{
    height: 40px;
    line-height: 40px;
  }
}
.comwidth {
  width: 1200px;
  margin: 0 auto;
}
#w-footer {
  color: #ffffff;
  margin-top: 30px;
  padding: 20px 0;
  width: 100%;
  background: #004ea1 url("../../../images/website/foot_bg_03.jpg") left bottom;
}

.w-footer > div {
  border-right: 1px solid #dddddd;
}

.footerl {
  width: 400px;
  height: 185px;
  padding-left: 25px;
}

.footerl h3 {
  display: inline-block;
  font-size: 18px;
}

.footerl li {
  min-width: 25%;
  width: 160px;
  line-height: 30px;
}

.footerl li a {
  color: #ffffff;
}

.footerl li a:hover {
  color: #1D7AD9;
}

.footerl .sp {
  min-width: 33%;
}

.footerc {
  width: 500px;
  height: 185px;
}

.footerc img {
  display: block;
  margin: 0 auto;
  width: 340px;
  height: 150px;
}

.footerr {
  height: 114px;
  border: 0 !important;
}

.footerr img {
  display: block;
  padding-left: 80px;
  padding-top: 8px;
  width: 210px;
  height: 110px;
  margin: 0 auto;
  border-radius: 3px;
}

.w-footer-bottom {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
}
