.w-footer-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.comwidth{
  width: 1200px;
  margin: 0 auto;
}
#w-footer {
  color: #ffffff;
  margin-top: 30px;
  padding: 20px 0;
  width: 100%;
  background: #004ea1 url("../../../images/website/foot_bg_03.jpg") left bottom;
}

.w-footer > div {
  border-right: 1px solid #dddddd;
}

.footerl {
  width: 400px;
  padding-left: 25px;
}

.footerl h3 {
  display: inline-block;
  font-size: 18px;
}

.footerl li {
  min-width: 25%;
  width: 30px;
  line-height: 30px;
}

.footerl li a {
  color: #ffffff;
}

.footerl li a:hover {
  color: #1D7AD9;
}

.footerl .sp {
  min-width: 33%;
}

.footerc {
  width: 500px;
  height: 114px;
}

.footerc img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 120px;
}

.footerr {
  border: 0 !important;
}

.footerr img {
  display: block;
  padding-left: 80px;
  padding-top: 8px;
  width: 202px;
  height: 102px;
  margin: 0 auto;
  border-radius: 3px;
}

.w-footer-bottom {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
}
