#search-student-form{
  width: 500px;
  #queryStudent-must-input{
    margin-left: 90px;
    font-size: 12px;
  }

  .form-control{
    width: 350px;
  }

  button{
    margin-right: 60px;
  }
}

@media all and (max-width: 420px) {
  #search-student-form{
    width: 90%;
    #queryStudent-must-input{
      margin-left:0;
      font-size: 12px;
    }
  }
}
