.HomePage {
  width: 100%;
}

.home-wrapper {
  width: 100%;
  position: relative;
}

.home-wrapper .sideBar {
  float: left;
  width: 220px;
  position: fixed;
  left: 0;
  top: 0px;
  height: 100%;
  min-height: 1000px;
}

body.canvas-menu .navbar-static-side, body.fixed-sidebar .navbar-static-side {
  width: 220px;
  z-index: 2001;
  height: 100%;
}

.home-content {
  padding-left: 220px;
}


.sideBar .nav .J_menuItem{
  background:#2f4050;
}

.sideBar .nav .J_menuItem:hover{
  background:#333;
}

.home-inline-content{
  min-height: 960px;
}

.normal-btn{
  width: 100px;
}

.home-wrapper .navActive{
  background: #222;
  border-left: 5px solid #1ab394;
}

.home-wrapper .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.modal-body{
  min-height: 90px;
}
