@media all and (min-width: 420px) {
  .TopTips {
    min-width: 200px;
    position: fixed;
    font-weight: 600;
    z-index: 1323223123;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
  }
}

.TopTips {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  background: #222222;
  opacity: 0.6;
  color: #FFF;
  font-weight: 600;
  z-index: 13233123122;
}

@media all and (max-width: 420px) {
  .TopTips {
    position: fixed;
    bottom: 50px;
    border-radius: 3px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
    left: 0;
    right: 0;
    width: 180px;
    margin: auto;
  }
}

@keyframes tipAnimation {
  0% {
    top: -50px;
  }
  20% {
    top: 0;
  }

  80% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

@-webkit-keyframes tipAnimation {
  0% {
    top: -50px;
  }
  20% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

