.TopTips {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  min-width: 200px;
  background: #222222;
  opacity: 0.6;
  color: #FFF;
  position: fixed;
  font-weight: 600;
  z-index: 132322;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

@keyframes tipAnimation {
  0% {
    top: -50px;
  }
  20% {
    top: 0;
  }

  80% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

@-webkit-keyframes tipAnimation {
  0% {
    top: -50px;
  }
  20% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

