#export-form{
  width: 500px;
  #export-must-input{
    margin-left: 85px;
  }
  .form-control{
    width: 350px;
  }
  button{
    margin-right: 60px;
  }
}

@media all and (max-width: 420px) {
  #export-form{
    width: 90%;
    #export-must-input{
      margin-left: 0;
    }
  }
}
