.wp-navigator-wrapper{
  height: 45px;
  line-height: 45px;
  background: #fff;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0 0 5px #f2f2f2;
  a{
    color: #666;
  }
  .close-icon {
    float: right;
    margin: 10px 10px 10px 0;
    font-size: 25px;
    color: #666;
  }
}

