.w-header-wrapper {
  background: #004ea1;
  width: 100%;
  overflow: hidden;
}

@media all and (min-width: 450px){
  .wp-header{
    display: none;
  }
}


@media all and (max-width: 450px) {
  .w-header{
    display: none;
  }
  .wp-header{
    display: block;
    margin-bottom: 40px;
  }
}


.website-wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 225px;
}
