#addGraduate-form {
  width: 590px;
  #addGraduate-must-input {
    margin-left: 90px;
  }

  .form-control {
    width: 330px
  }

  button {
    margin-right: 55px;
  }
}

@media all and (max-width: 450px) {
  #addGraduate-form {
    width: 90%;
    .form-control {
      width: 100%
    }
    button {
      width: 100%;
      height: 45px;
      margin-top: 10px;
      float: left;
    }
    #addGraduate-must-input {
      margin-left: 0;
    }
  }
}
